
.col{
    border: 5px solid black;
    width: 200px;
    height: 200px;
}

#players {
	display: flex;
	width: 50%;
	margin: auto;
}

.player {
	width: 50%;
	text-align: center;
	font-size: 30px;
}

.player.active {
	font-weight: bold;
}

#table1 {
    border-collapse: collapse;
    border-style: hidden;
    color: black;
    border-spacing: 10px;
    border-collapse: collapse;
}
.centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .col:hover {
	background-color: grey;
}
  