body{
    align-content: center;
background-color: brown;
}
.col{
    border: 1px solid red;
}
#table1 {
    background: navy;
    color: white;
    border-spacing: 10px;
    border-collapse: collapse;
}